<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Small:3.2인치 이하 안드로이드 폰, Normal:4~6인치 스마트폰, Large:7인치 태블릿, X-Large:10인치 태블릿 이상   -->
    <supports-screens
        android:smallScreens="false"
        android:normalScreens="false"
        android:largeScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tableapp_test1"
        android:largeHeap="true"
        android:usesCleartextTraffic="false"
        android:resizeableActivity="true"
        tools:targetApi="31">
        <!--  android:resizeableActivity="true" application 에 적용시 전체 반영됨 -->

        <!-- android:resizeableActivity="true":멀티윈도우 모드(액티비티에 한해서)   -->
        <activity
            android:name=".MainActivity"
            android:resizeableActivity="true"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>